INPUT_PATH_PREFIX=/testing/
INPUT_PARAMETERS="key1: value1
key2: value2"
INPUT_TIER=Standard
RUNNER_DEBUG=1

# Floci
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test_id
AWS_SECRET_ACCESS_KEY=test_key
AWS_REGION=us-east-1
