# Editors and IDEs
.cursor/
.idea/
.vscode/

# Dependencies
.pnpm-store/
node_modules/

# Logs and caches
*.log
.cache
npm-debug.log*

# Backup and temporary files
*~
*.bak
*.save
*.swp
.*~

# macOS
._*
*.DS_Store
.DS_Store?
.Trash-*

# Windows
$RECYCLE.BIN/
*.lnk
[Dd]esktop.ini
ehthumbs.db
[Tt]humbs.db

# Secrets and credentials
.env
*.crt
*.key
*.pem
*.pub
